resLOG_FILEUPTODATE	"El archivo en disco ya estaba actualizado"
resLOG_FILECOPIED	"Imposible encontrar el archivo o es de una versión antigua; se ha copiado el archivo nuevo"
resLOG_ERROR	"ERROR:"
resLOG_WARNING	"ADVERTENCIA:"
resLOG_DURINGACTION	"DURANTE ESTA ACCIÓN:"
resLOG_CANNOTWRITE	"Error al escribir en el archivo de registro de operaciones '|1'"
resLOG_CANNOTCREATE	"Error fatal de instalación: imposible generar el archivo de registro de operaciones de instalación."	// Used by setup.c!
resLOG_DONOTMODIFY	"NO MODIFIQUE NI ELIMINE ESTE ARCHIVO."
resLOG_FILECONTENTS	"Este archivo contiene información acerca de la instalación de una aplicación."
resLOG_FILEUSEDFOR	"Se utilizará para quitar automáticamente de su PC todos los componentes de la aplicación, si elige hacerlo."
resLOG_UNEXPECTED	"Error inesperado al intentar crear o escribir en el archivo de registro de operaciones '|1'. El número del error es |2."
resLOG_OUTOFMEMORY	"Memoria insuficiente para crear o escribir en el archivo de registro de operaciones '|1'"
resLOG_USERRESPONDEDWITH	"El usuario respondió con '|1'"
resLOG_CANTRUNAPPREMOVER	"Error al intentar ejecutar el programa para quitar la aplicación al quitar los archivos temporales de instalación."
resLOG_ABOUTTOREMOVEAPP	"El programa de instalación iniciará el programa para quitar la aplicación con el fin de quitar los archivos temporales de instalación."

// The following are the captions on system dialog buttons, but should NOT contain '&' for shortcuts
resLOG_IDOK,	"Aceptar"
resLOG_IDCANCEL	"Cancelar"
resLOG_IDABORT	"Anular"
resLOG_IDRETRY	"Reintentar"
resLOG_IDIGNORE	"Pasar por alto"
resLOG_IDYES	"Sí"
resLOG_IDNO	"No"
resLOG_IDUNKNOWN	"(Desconocido)"	// (Unexpected error case)


resCOMMON_CANTREG	"Error al registrar el archivo '|1'"
resCOMMON_CANTREGUNEXPECTED	"Error inesperado al registrar el archivo '|1'"
resCOMMON_CANTREGOLE	"Imposible inicializar OLE para poder registrar el archivo '|1'"
resCOMMON_CANTREGLOAD	"LoadLibrary() falló al registrar el archivo '|1'"
resCOMMON_CANTREGENTRY	"No se encontró ningún punto de entrada para DllRegisterServer() en '|1'"
resCOMMON_CANTREGREG	"DllRegisterServer() en el archivo '|1' devolvió un fallo"
resCOMMON_CANTREGTLB	"Imposible registrar el archivo TLB '|1'."
resCOMMON_CANTREGAUTPRXRPC1	"Una posible causa de este error es que RPC no esté instalado en su equipo."
resCOMMON_CANTREGAUTPRXRPC2	"Si continúa el problema, deberá salir del programa de instalación, instalar RPC y volver a iniciar la instalación."
resCOMMON_CTL3D32NOTCOPIED	"El archivo '|1' no se copió ya que sólo es necesario con Windows NT 3.51. No es necesario con Windows 95 o NT 4.0."
resCOMMON_RICHED32NOTCOPIED	"El archivo '|1' no se copió ya que sólo es necesario con Windows 95. No es necesario con Windows NT 3.51 ó 4.0."
resCOMMON_AXDISTNOTCOPIED	"El archivo '|1' no se copió ya que sólo es necesario con Windows 95 y NT 4.x. No es necesario con Windows NT 3.51."
resCOMMON_WINT351NOTCOPIED	"El archivo '|1' no se copió ya que sólo es necesario con Windows NT 3.51. No es necesario con Windows 95 o NT 4.x."
// Localizers, a list of invalid file name characters can be easily obtained in Win95 by simply trying to create a file name in Explorer with any
// invalid characters in it.  An error message will appear displaying all invalid characters.
resCOMMON_INVALIDFILECHARS	"\/:*?"	//do not localize
resCOMMON_MULTDIRBASENAME	"DISK"
resCOMMON_CANTFINDSRCFILE	"Imposible encontrar el archivo de origen '|1' para instalar."

